{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h3>My Schemes&hellip;</h3>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Scheme Name</th>
						<th>Created</th>
						<th>Updated</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for scheme in schemes.schemes %}
		        		<tr>
		        			<td>{{ scheme.id }}</td>
		        			<td><a href="{{ path_for('scheme.view', { 'id': scheme.id }) }}">{{ scheme.schemeName }}</a></td>
		        			<td>{{ scheme.created_at }}</td>
		        			<td>{{ scheme.updated_at }}</td>
		        			<td><a href="{{ path_for('scheme.edit', { 'id': scheme.id }) }}">Edit</a></td>
		        		</tr>

		    		{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}