{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Create a new user</div>
				<div class="panel-body">
					<form action="{{ path_for('test') }}" method="post" autocomplete="off">
						<div class="form-group{{ errors.email ? ' has-error' : '' }}">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" placeholder="you@yourdomain.com" class="form-control" value="{{ old.email }}">
							{% if errors.email %}
								<span class="help-block">{{ errors.email | first }}</span>
							{% endif %}
						</div>
						<div class="form-group{{ errors.name ? ' has-error' : '' }}">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" class="form-control" value="{{ old.name }}">
							{% if errors.name %}
								<span class="help-block">{{ errors.name | first }}</span>
							{% endif %}
						</div>
						<div class="row">
							<div class="col-md-6">
								
							{% for trusts in trust.all %}
								<div class="checkbox{% if auth.user.trusts_idtrusts == loop.index %} disabled{% endif %}" >
									<label>
										<input type="checkbox" name="trust[]" value="{{ loop.index }}" {% if loop.index in old.trust or auth.user.trusts_idtrusts == loop.index %}checked{% endif %} {% if auth.user.trusts_idtrusts == loop.index %}disabled{% endif %}> {{ trusts.trust }}
									</label>
								</div>
								{% if loop.index is divisible by(24) %}
									</div>
									<div class="col-md-6">
								{% endif %}
							{% endfor %}

							</div>
						</div>
						<button type="submit" class="btn btn-default">Create user</button>

						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}